@import '../../../../variables.css';

.round-image-container{
    width: 200px;
    height: auto;
}
.skill-container h1{
    font-size: 30px;
    text-transform: capitalize;
}
.skill-container p{
    font-size: 14px;
}

.badge-light{
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}