@import '../../../variables.css';


.skills-section{
    /* background-color: var(--secondary-section-background-color); */
    color: white;
    cursor: pointer;
}
.skills-section .skills-header-container{
    text-align: center;
}
.skills-section .skills-header-container h1{
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}