@import '../../variables.css';

.popup-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.642);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.popup-container .popup-close-btn{
    text-decoration: none;
    color: grey;
    cursor: pointer;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.popup-container .status-msg{
    text-align: center;
}
.success{
    color: green;
}
.failure{
    color: red;
}


.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 1px;
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form label {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact-form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  