@import '../../variables.css';

.popup-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.684);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}


.popup-container .contact-form .popup-close-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.popup-container .contact-form ::placeholder{
  color: white;

}

.popup-container .contact-form .form-field-dark{
  background-color: #00000047; /* Dark background color */
  color: #fff; /* Light text color */
  border: 1px solid #555; /* Border color */
  padding: 10px;
  border-radius: 4px;
  width: 100%; /* Full width */
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  margin-bottom: 10px;
    /* Add some space between inputs */
}

.popup-container .contact-form label{
  color: white;
}

.popup-container .status-msg{
    text-align: center;
}
.success{
    color: green;
}
.failure{
    color: red;
}


.popup-container .contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 1px;
    background: linear-gradient(109.6deg, rgb(28, 1, 59) 13.4%, rgb(44, 1, 20) 100.2%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form label {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact-form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .popup-container .contact-form .contact-form-header{
    color: white;
    text-align: center;
    font-family: var(--font-primary);
  }