@import '../../../variables.css';


.project-details{
    font-family: var(--font-primary);
    color: var(--text-primary);
}


.project-details .project-title-container .project-title{
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.project-details .project-text-container{
    height: 100%;
}