.slideshow-container{
    background-color: transparent;
}
.slideshow-container .slide .custom-image-class{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position:center;
  border-radius: 3px;
}


.slideshow-container .slide .custom-image-class:hover{
  transform: scale(105%);
  transform: translateY(-10px);
  transition: all .5s ease-in-out;

}