@import '../../variables.css';

.projects-section{
    background-color: var(--primary-section-background-color);
    color: white;
    cursor: pointer;
}
.projects-section .projects-header-container{
    text-align: center;
}
.projects-section .projects-header-container h1{
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}